.major {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.btnContainer {
  position: absolute;
  bottom: 2rem;
  width: var(--max-width);
}

.btnContainer button {
  position: absolute;
  bottom: 0;
  right: 0;
}
