.link {
  border: none;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  display: block;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  transition: all var(--normal-animation-time) linear;
}

.link:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.link:active {
  opacity: 0.1;
}
